Source: tiopenmax-domx
Section: libs
Priority: extra
Maintainer: TI OMAP Developers <tiomap-dev@lists.launchpad.net>
Build-Depends: cdbs, debhelper (>= 7), libtool, quilt,
 	       libtimemmgr-dev (>= 0.24.12) [armel],
               libtisyslink-dev (>= 0.24.12) [armel],
               libd2cmap-dev (>= 0.24.12) [armel]
Standards-Version: 3.9.1
Homepage: https://gforge01.dal.design.ti.com/gf/project/domx

Package: libtiopenmax-domx1
Section: libs
Architecture: armel
Depends: ${shlibs:Depends},
         ${misc:Depends}
Replaces:  libtiopenmax-domx0
Conflicts: libtiopenmax-domx0
Description: Texas Instruments OpenMAX IL DOMX Components
 This includes camera, video encode and video decode.
 It also includes OpenMaX OS Abstraction Layer Interface and Core.

Package: libtiopenmax-domx-dev
Section: libdevel
Architecture: armel
Depends: ${shlibs:Depends}, ${misc:Depends},
         libtiopenmax-domx1 (= ${binary:Version}),
         pkg-config
Description: Texas Instruments OpenMAX IL DOMX Components development files
 This package contains the necessary files for development.
