Package: gstreamer-tools
Source: gstreamer0.10
Version: 0.10.30-1+ti0.24.12.2+2
Architecture: armel
Maintainer: Maintainers of GStreamer packages <pkg-gstreamer-maintainers@lists.alioth.debian.org>
Installed-Size: 168
Depends: libc6 (>= 2.4), libglib2.0-0 (>= 2.20), gstreamer0.10-tools | gstreamer0.8-tools
Conflicts: gstreamer0.8-tools (<< 0.8.11-2)
Section: utils
Priority: optional
Homepage: http://gstreamer.freedesktop.org
Description: Tools for use with GStreamer
 GStreamer is a streaming media framework, based on graphs of filters
 which operate on media data.  Applications using this library can do
 anything from real-time sound processing to playing videos, and just
 about anything else media-related.  Its plugin-based architecture means
 that new data types or processing capabilities can be added simply by
 installing new plug-ins.
 .
 This package contains unversioned command-line tools for GStreamer
 that work with different major/minor versions of GStreamer.
