Package: avahi-discover
Source: avahi
Version: 0.6.27-2ubuntu3.1
Architecture: all
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 148
Depends: python (>= 2.4), python-support (>= 0.90.0), python-avahi, python-dbus, python-gtk2 (>= 2.8.6-2), python-glade2, avahi-daemon
Section: net
Priority: optional
Homepage: http://avahi.org/
Description: Service discover user interface for avahi
 Avahi is a fully LGPL framework for Multicast DNS Service Discovery.
 It allows programs to publish and discover services and hosts
 running on a local network with no specific configuration. For
 example you can plug into a network and instantly find printers to
 print to, files to look at and people to talk to.
 .
 This package contains a user interface for discovering services.
Original-Maintainer: Utopia Maintenance Team <pkg-utopia-maintainers@lists.alioth.debian.org>
