Package: libgstreamer0.10-0
Source: gstreamer0.10
Version: 0.10.30-1+ti0.24.12.2+2
Architecture: armel
Maintainer: Maintainers of GStreamer packages <pkg-gstreamer-maintainers@lists.alioth.debian.org>
Installed-Size: 2580
Depends: libc6 (>= 2.10), libglib2.0-0 (>= 2.25.16), libxml2 (>= 2.7.4)
Suggests: gstreamer0.10-tools, gstreamer0.10-plugins
Conflicts: gstreamer0.10-plugins-base (<< 0.10.25.2), libgstreamer-plugins-base0.10-0 (<< 0.10.11cvs20070110-0ubuntu5)
Replaces: gobject-introspection-repository (<< 0.6.5-2)
Section: libs
Priority: optional
Homepage: http://gstreamer.freedesktop.org
Description: Core GStreamer libraries and elements
 GStreamer is a streaming media framework, based on graphs of filters
 which operate on media data.  Applications using this library can do
 anything from real-time sound processing to playing videos, and just
 about anything else media-related.  Its plugin-based architecture means
 that new data types or processing capabilities can be added simply by
 installing new plug-ins.
 .
 This package contains the core library and elements.
