Source: gst-openmax
Maintainer: Maemo Multimedia <multimedia@maemo.org>
XSBC-Maintainer: Maintainers of GStreamer packages <pkg-gstreamer-maintainers@lists.alioth.debian.org>
XSBC-Uploaders: Marc-Andre Lureau <marcandre.lureau@gmail.com>, Loic Minier <lool@dooz.org>
Section: libs
Priority: optional
Standards-Version: 3.8.4
Build-Depends: debhelper (>= 7.4.20),
	cdbs (>= 0.4.43),
	autotools-dev,
	libtool,
	pkg-config,
	dpkg-dev (>= 1.13.19),
	libgstreamer0.10-dev ( >= 0.10.29),
	libgstreamer-plugins-base0.10-dev (>= 0.10.29),
	libtiopenmax-domx-dev (>= 0.24.12)
Vcs-Svn: svn:///svn.debian.org/pkg-gstreamer/experimental/gst-openmax
Vcs-Browser: http://svn.debian.org/wsvn/pkg-gstreamer/experimental/gst-openmax
Homepage: http://freedesktop.org/wiki/GstOpenMAX

Package: gstreamer0.10-openmax
Architecture: armel
Section: libs
Depends: ${misc:Depends}, ${shlibs:Depends}, libtiopenmax-domx1 (>= 0.24.12)
Suggests: libomxil-bellagio0, libomxil-ti0
Description: gst-openmax is a GStreamer plug-in that allows communication with
 OpenMAX IL components.
 .
 Multiple OpenMAX IL implementations can be used, including but not limited to
 Texas Instruments and Bellagio.

Package: gstreamer0.10-openmax-dbg
Section: debug
Priority: extra
Architecture: armel
Depends: ${misc:Depends}, gstreamer0.10-openmax (= ${binary:Version})
Description: Debug symbols for gst-openmax.
 gst-openmax is a GStreamer plug-in that allows communication with
 OpenMAX IL components.
