Package: gstreamer0.10-gnomevfs
Source: gst-plugins-base0.10
Version: 0.10.30-2+ti0.24.12.2+2
Architecture: armel
Maintainer: Maintainers of GStreamer packages <pkg-gstreamer-maintainers@lists.alioth.debian.org>
Installed-Size: 140
Depends: libc6 (>= 2.7), libglib2.0-0 (>= 2.20.0), libgnomevfs2-0 (>= 1:2.17.90), libgstreamer0.10-0 (>= 0.10.30)
Recommends: libgnomevfs2-extra
Section: libs
Priority: optional
Homepage: http://gstreamer.freedesktop.org
Description: GStreamer plugin for GnomeVFS
 GStreamer is a streaming media framework, based on graphs of filters
 which operate on media data.  Applications using this library can do
 anything from real-time sound processing to playing videos, and just
 about anything else media-related.  Its plugin-based architecture means
 that new data types or processing capabilities can be added simply by
 installing new plug-ins.
 .
 This package contains the GStreamer plugin to read from and write to
 GnomeVFS URIs.  GnomeVFS is the GNOME virtual file-system.
Gstreamer-Elements: gnomevfssink, gnomevfssrc
Gstreamer-Uri-Sinks: dav, file, ftp, http, https, sftp, smb, ssh
Gstreamer-Uri-Sources: dav, file, ftp, http, https, sftp, smb, ssh
Gstreamer-Version: 0.10
