Package: libavahi-core7-udeb
Source: avahi
Version: 0.6.27-2ubuntu3.1
Architecture: armel
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 156
Depends: libavahi-common3-udeb (>= 0.6.16), libc6-udeb (>= 2.12)
Section: debian-installer
Priority: optional
Description: Avahi's embeddable mDNS/DNS-SD library (debian-installer)
Original-Maintainer: Utopia Maintenance Team <pkg-utopia-maintainers@lists.alioth.debian.org>
