Package: gir1.0-gst-plugins-base-0.10
Source: gst-plugins-base0.10
Version: 0.10.30-2+ti0.24.12.2+2
Architecture: armel
Maintainer: Maintainers of GStreamer packages <pkg-gstreamer-maintainers@lists.alioth.debian.org>
Installed-Size: 272
Depends: gir1.0-freedesktop, gir1.0-glib-2.0, gir1.0-gstreamer-0.10, libgstreamer-plugins-base0.10-0 (>= 0.10.30-2+ti0.24.12.2+1+cm1)
Replaces: gobject-introspection-repository (<< 0.6.5-2), libgstreamer-plugins-base0.10-0 (<< 0.10.25-3)
Provides: gir1.0-gstapp-0.10, gir1.0-gstaudio-0.10, gir1.0-gstfft-0.10, gir1.0-gstinterfaces-0.10, gir1.0-gstnetbuffer-0.10, gir1.0-gstpbutils-0.10, gir1.0-gstriff-0.10, gir1.0-gstrtp-0.10, gir1.0-gstrtsp-0.10, gir1.0-gstsdp-0.10, gir1.0-gsttag-0.10, gir1.0-gstvideo-0.10
Section: libs
Priority: optional
Homepage: http://gstreamer.freedesktop.org
Description: Description: GObject introspection data for the GStreamer Plugins Base library
 This package contains introspection data for the GStreamer Plugins Base library.
 .
 GStreamer is a streaming media framework, based on graphs of filters
 which operate on media data.  Applications using this library can do
 anything from real-time sound processing to playing videos, and just
 about anything else media-related.  Its plugin-based architecture means
 that new data types or processing capabilities can be added simply by
 installing new plug-ins.
 .
 It can be used by packages using the GIRepository format to generate
 dynamic bindings.
