Package: libgstreamer-plugins-base0.10-0
Source: gst-plugins-base0.10
Version: 0.10.30-2+ti0.24.12.2+2
Architecture: armel
Maintainer: Maintainers of GStreamer packages <pkg-gstreamer-maintainers@lists.alioth.debian.org>
Installed-Size: 1524
Depends: libc6 (>= 2.7), libglib2.0-0 (>= 2.24.0), libgstreamer0.10-0 (>= 0.10.30), iso-codes
Suggests: libvisual-0.4-plugins, gstreamer-codec-install | gnome-codec-install
Conflicts: gstreamer0.10-pulseaudio (<< 0.10.16-4), totem-gstreamer (<= 2.17.92-0ubuntu1)
Replaces: gobject-introspection-repository (<< 0.6.5-2)
Section: libs
Priority: optional
Homepage: http://gstreamer.freedesktop.org
Description: GStreamer libraries from the "base" set
 GStreamer is a streaming media framework, based on graphs of filters
 which operate on media data.  Applications using this library can do
 anything from real-time sound processing to playing videos, and just
 about anything else media-related.  Its plugin-based architecture means
 that new data types or processing capabilities can be added simply by
 installing new plug-ins.
 .
 This package contains libraries from the "base" set, an essential
 exemplary set of elements.
