Package: gstreamer0.10-openmax
Source: gst-openmax
Version: 0.10.0.4+ti0.24.13.3-0ubuntu1
Architecture: armel
Maintainer: Maintainers of GStreamer packages <pkg-gstreamer-maintainers@lists.alioth.debian.org>
Installed-Size: 216
Depends: libc6 (>= 2.4), libglib2.0-0 (>= 2.24.0), libgstreamer-plugins-base0.10-0 (>= 0.10.29.3-1+ti0.24.7), libgstreamer0.10-0 (>= 0.10.30-1+ti0.24.12.2+1+cm1), libtiopenmax-domx1 (>= 0.24.12), libxml2 (>= 2.6.27)
Suggests: libomxil-bellagio0, libomxil-ti0
Section: libs
Priority: optional
Homepage: http://freedesktop.org/wiki/GstOpenMAX
Description: gst-openmax is a GStreamer plug-in that allows communication with
 OpenMAX IL components.
 .
 Multiple OpenMAX IL implementations can be used, including but not limited to
 Texas Instruments and Bellagio.
Uploaders: Marc-Andre Lureau <marcandre.lureau@gmail.com>, Loic Minier <lool@dooz.org>
