Package: libgstreamer0.10-0-dbg
Source: gstreamer0.10
Version: 0.10.30-1+ti0.24.12.2+2
Architecture: armel
Maintainer: Maintainers of GStreamer packages <pkg-gstreamer-maintainers@lists.alioth.debian.org>
Installed-Size: 3704
Depends: libgstreamer0.10-0 (= 0.10.30-1+ti0.24.12.2+2)
Section: debug
Priority: extra
Homepage: http://gstreamer.freedesktop.org
Description: Core GStreamer libraries and elements
 GStreamer is a streaming media framework, based on graphs of filters
 which operate on media data.  Applications using this library can do
 anything from real-time sound processing to playing videos, and just
 about anything else media-related.  Its plugin-based architecture means
 that new data types or processing capabilities can be added simply by
 installing new plug-ins.
 .
 This package contains unstripped shared libraries. It is provided primarily
 to provide a backtrace with names in a debugger, this makes it somewhat
 easier to interpret core dumps. The libraries are installed in
 /usr/lib/debug and are automatically used by gdb.
