#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_CONFIGURE_EXTRA_FLAGS = --enable-tilermgr --enable-tests

# This extra flag is needed for Linaro cross-compiler 4.4.4-14ubuntu4 version
CFLAGS += -Wno-error=enum-compare

makebuilddir/libtimemmgr1::
	dh_quilt_patch
	./bootstrap.sh

