Package: libtiopenmax-domx0
Source: tiopenmax-domx
Version: 0.24.11-0ubuntu2
Architecture: armel
Maintainer: TI OMAP Developers <tiomap-dev@lists.launchpad.net>
Installed-Size: 268
Depends: libc6 (>= 2.7), libtisyslink-d2cmap0, libtisyslink0, libtitiler-memmgr0
Section: libs
Priority: extra
Homepage: https://gforge01.dal.design.ti.com/gf/project/domx
Description: Texas Instruments OpenMAX IL DOMX Components
 This includes camera, video encode and video decode.
 It also includes OpenMaX OS Abstraction Layer Interface and Core.
