Package: libtiopenmax-domx-dev
Source: tiopenmax-domx
Version: 0.24.11-0ubuntu2
Architecture: armel
Maintainer: TI OMAP Developers <tiomap-dev@lists.launchpad.net>
Installed-Size: 916
Depends: libtiopenmax-domx0 (= 0.24.11-0ubuntu2), pkg-config
Section: libdevel
Priority: extra
Homepage: https://gforge01.dal.design.ti.com/gf/project/domx
Description: Texas Instruments OpenMAX IL DOMX Components development files
 This package contains the necessary files for development.
